// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #12b0c5;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------

.widget-clock {
  background-color: $background-color;
  padding: 0 !important;

  span {
    font-family: 'Century Gothic', Arial;
    font-size: 46px;
    padding: 10px 20px;
  }

  span.day, span.time {
    font-weight: bold;
  }

  span.date {
    font-size: 30px;
    text-transform: lowercase;
    margin-bottom: 20px;
  }
}
