// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #eb9c3c;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-comment styles
// ----------------------------------------------------------------------------
.widget-comments {

  background-color: $background-color;
  text-align: left !important;
  padding: auto 25px !important;

  .title {
    color: $title-color;
    margin-bottom: 15px;
  }

  .name {
    position: absolute;
    top: 0;
    left: 80px;
    font-size: 24px;
    padding: 0;
  }

  .comment-container {
    display: none;
    position: relative;
  }
  
  .comment {
    position: absolute;
    top: 34px;
    left: 80px;
    line-height: 1.0em;
  }

  .more-info {
    color: $moreinfo-color;
  }

}
