// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ec663c;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget.widget-bookings {

  background-color: $background-color;
  vertical-align: top;
  padding-top: 45px;

  .title { color: $title-color; }
  .more-info { color: $moreinfo-color; }
  .updated-at { color: rgba(255, 255, 255, 0.7); }
  h1 { margin-bottom: 20px; }
  
  ul.upcoming {
    padding: 0 60px;
    text-align: left;     
  
    li {
      text-align: left;
      margin-bottom: 20px;
      
      div {
        font-size: 16px;
      }
  
        color: #FFF;
      .summary {
        width: 360px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
  
      .date {
        color: rgba(255, 255, 255, 0.4);
      }

      &.later {
        .summary, .date { color: rgba(255, 255, 255, 0.4); }
      }
    }
  }
}
