// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ec663c;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget.widget-bookings {

  background-color: $background-color;
  vertical-align: top;
  padding-top: 45px;
  max-width: 1px;   // forces .summary div to truncate text instead of expanding this container

  .title { color: $title-color; }
  .more-info { color: $moreinfo-color; }
  .updated-at { color: rgba(255, 255, 255, 0.7); }
  h1 { margin-bottom: 20px; }
  
  ul.upcoming {
    padding: 0 50px;
    text-align: left;     
  
    li {
      text-align: left;
      margin-bottom: 20px;
      color: #FFF;
      
      div {
        font-size: 16px;
      }
  
      .summary {
        // truncate text with ellipsis at width of container
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &.later {
        color: rgba(255, 255, 255, 0.4);
      }
    }
  }
}
