// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #9c4274;

$title-color:       #FFF;
$moreinfo-color:    #FFF;
$artist-color:    #DDD;

// ----------------------------------------------------------------------------
// Widget-radio styles
// ----------------------------------------------------------------------------
.widget-radio {

  background-color: $background-color;
  vertical-align: top !important;

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }


  &.large h3 {
    font-size: 65px;
  }
  
  span { 
    padding: 0;
  }
  
  h1 {
    padding-top: 40px;
    padding-left: 60px;
    text-align: left;
    font-weight: bold;
  }
  
  h1:first-child {
    padding-top: 20px;
  }
  
  span.title {
    display: block;
    font-size: 28px;
    font-weight: bold;
    width: 400px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;    
  }
  
  span.artist {
    display: block;
    font-size: 18px;
    color: $artist-color;
    width: 400px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;    
  }
  
  .upcoming {
    padding: 0 60px;
  }
  
  .upcoming li {
    height: 55px;
    text-align: left;
    position: relative;
  }
  .upcoming li span, .upcoming li img {
    display: inline;
    padding: 0;
  }
  .upcoming span.title {
    font-size: 24px;
    position: absolute;
    font-weight: normal;
    top: 0;
    left: 60px;
    margin: 0;
    text-align: left;
  }
  
  .upcoming span.artist {
    font-size: 16px;
    position: absolute;
    top: 30px;
    left: 60px;
    margin: 0;
    text-align: left;
  }
}
