// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #9c4274;

$title-color:     rgba(255, 255, 255, 0.7);
$moreinfo-color:  rgba(255, 255, 255, 0.7);

@mixin fixed_width {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// ----------------------------------------------------------------------------
// Widget-radio styles
// ----------------------------------------------------------------------------
.widget.widget-radio {

  background-color: $background-color;
  vertical-align: top;
  padding-top: 45px;

  .title { color: $title-color; }
  .more-info { color: $moreinfo-color; }
  .updated-at { color: rgba(255, 255, 255, 0.7); }
  h1 { margin-bottom: 20px; }

  text-align: left;

  .now_playing {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 10px;

    img.cover {
      margin-bottom: 10px;
      width: 400px;
      height: 400px;
    }

    .track {
      font-size: 28px;
      font-weight: bold;
      color: #FFF;
      @include fixed_width;
    }
  
    .artist {
      font-size: 18px;
      color: $moreinfo-color;
      @include fixed_width;
    }
  }
  
  .previously_played {
    width: 400px;
    margin: 0 auto;

    .previously_played_header {
      font-size: 22px;
      color: rgba(255, 255, 255, 0.3);
      margin-bottom: 10px;
    }

    li {
      margin-bottom: 10px;
      
      img {
        float: left;
        margin-right: 10px;
      }

      .track {
        font-size: 22px;
        color: $moreinfo-color;
        @include fixed_width;
      }

      .artist {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.3);
        @include fixed_width;
      }

      /* Only show the first three upcoming tracks */
      &:nth-child(n+5) { display: none; }
    }
  }
}
