// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ec663c;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-calendar {

  background-color: $background-color;
  vertical-align: top !important;

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }


  &.large h3 {
    font-size: 65px;
  }
  
  ul.upcoming {
    padding: 0 60px;
    text-align: left;     
  }
  
  ul.upcoming li {
    text-align: left;
  }
  
  ul.upcoming li span {
    font-size: 16px;
    padding: 0;
  }
  
  ul.upcoming li span.title, ul.upcoming li span.date {
    display:block;
  }
  
  ul.upcoming li span.title { 
    color: #FFF;
  }
  
  ul.upcoming li span.date {
    padding-left: 40px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  ul.upcoming li.thisweek span.title, ul.upcoming li.thisweek span.date {
    color: #efd7c2;
  }

  ul.upcoming li.later span.title, ul.upcoming li.later span.date {
    color: #E6964F;
  }
}
