// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ec663c;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-calendar {

  background-color: $background-color;
  vertical-align: top !important;

  .title { color: $title-color; }
  .more-info { color: $moreinfo-color; }
  .updated-at { color: rgba(255, 255, 255, 0.7); }
  
  ul.upcoming {
    padding: 0 60px;
    text-align: left;     
  
    li {
      text-align: left;
      
      span {
        font-size: 16px;
        padding: 0;
      }
  
      span.title, span.date { display:block; }
  
      span.title { color: #FFF; }
  
      span.date {
        padding-left: 40px;
        color: rgba(255, 255, 255, 0.7);
      }

      &.thisweek {
        span.title, span.date { color: #efd7c2; }
      }

      &.later {
        span.title, span.date { color: #E6964F; }
      }
    }
  }
}
