<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.

  Dashing.widget_base_dimensions = [250, 109]
  Dashing.numColumns = 4
});
</script>
<link href='http://fonts.googleapis.com/css?family=Armata' rel='stylesheet' type='text/css'>
<style>
  body, div, p, li, span {
    font-family: 'Armata', 'Century Gothic', 'Arial';
  }
</style>


<% content_for :title do %>The Salt Mines Dashboard<% end %>

<div class="gridster">
  <ul>
    <li id="clock" data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>
    <li id="radio" data-row="2" data-col="1" data-sizex="2" data-sizey="7">
      <div data-id="radio" data-view="Radio" data-title="Now Playing"</div>
      <i class="icon-music icon-background"></i>
    </li>
    <li id="groupbuzz" data-row="6" data-col="3" data-sizex="2" data-sizey="5">
      <div data-id="groupbuzz" data-view="Groupbuzz" data-title="The Buzz"></div>
    </li>
    <li id="events-north" data-row="2" data-col="3" data-sizex="2" data-sizey="3">
      <div data-id="events-north" data-view="Bookings" data-title="Conference Room Schedule"></div>
    </li>
    <li id="instagram" data-row="9" data-col="1" data-sizex="2" data-sizey="4">
      <div data-id="instagramimage" data-view="Instagram" data-title="On Instagram" style="background-color:#96bf48;"></div>
    </li>
    <li id="transit" data-row="10" data-col="3" data-sizex="2" data-sizey="3">
      <div data-id="transit-north" data-view="Iframe" data-url="/transit-north.html"></div>
    </li>
    <li id="twitter" data-row="13" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;"></div>
      <i class="icon-twitter icon-background"></i>
    </li>
    <li id="dark_sky" data-row="14" data-col="1" data-sizex="4" data-sizey="3">
      <div data-id="dark_sky" data-view="DarkSky" data-title="Dark Sky" data-displayed-value="summary"></div>
    </li>
  </ul>
</div>
