<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.

  Dashing.widget_base_dimensions = [270, 60]
  Dashing.numColumns = 6
});
</script>
<link href='http://fonts.googleapis.com/css?family=Armata' rel='stylesheet' type='text/css'>
<style>
  body, div, p, li, span {
    font-family: 'Armata', 'Century Gothic', 'Arial';
  }
  #container { padding-top: 0; }  /* remove 5px top padding to prevent grid from overflowing the display */
</style>


<% content_for :title do %>The Salt Mines Dashboard<% end %>

<div class="gridster">
  <ul>
    <li id="clock" data-row="1" data-col="1" data-sizex="4" data-sizey="2">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>
    <li id="events-north" data-row="3" data-col="1" data-sizex="2" data-sizey="7">
      <div data-id="events-north" data-view="Bookings" data-title="Conference Room Schedule"></div>
    </li>
    <li id="events-device" data-row="3" data-col="3" data-sizex="2" data-sizey="7">
      <div data-id="events-device" data-view="Bookings" data-title="Device Lab Schedule"></div>
    </li>
    <li id="twitter" data-row="9" data-col="1" data-sizex="4" data-sizey="2">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;"></div>
      <i class="icon-twitter icon-background"></i>
    </li>
    <li id="dark_sky" data-row="12" data-col="1" data-sizex="4" data-sizey="4">
      <div data-id="dark_sky" data-view="DarkSky" data-title="Dark Sky" data-displayed-value="summary"></div>
    </li>
    <li id="groupbuzz" data-row="1" data-col="5" data-sizex="2" data-sizey="7">
      <div data-id="groupbuzz" data-view="Groupbuzz" data-title="The Buzz" class="for_north_dashboard"></div>
    </li>
    <li id="instagram" data-row="5" data-col="5" data-sizex="2" data-sizey="8">
      <div data-id="instagramimage" data-view="Instagram" data-title="On Instagram"></div>
    </li>
  </ul>
</div>
