<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.

  Dashing.widget_base_dimensions = [260, 109]
  Dashing.numColumns = 4
});
</script>
<link href='http://fonts.googleapis.com/css?family=Armata' rel='stylesheet' type='text/css'>
<style>
  body, div, p, li, span {
    font-family: 'Armata', 'Century Gothic', 'Arial';
  }
</style>

<% content_for :title do %>The Salt Mines Dashboard<% end %>

<div class="gridster">
  <ul>
    <li id="radio" data-row="1" data-col="1" data-sizex="2" data-sizey="7">
      <div data-id="radio" data-view="Radio" data-title="Salt Mines Radio"</div>
    </li>

    <li id="events" data-row="1" data-col="3" data-sizex="2" data-sizey="7">
      <div data-id="events-south" data-view="Bookings" data-title="Conference Room Schedule"></div>
    </li>

    <li id="clock" data-row="8" data-col="1" data-sizex="4" data-sizey="2">
      <div data-view="Clock"></div>
    </li>


    <li id="dark_sky" data-row="10" data-col="1" data-sizex="4" data-sizey="6">
      <div data-id="dark_sky" data-view="DarkSky" data-title="Dark Sky" data-displayed-value="summary"></div>
    </li>
  </ul>
</div>
