<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.

  Dashing.widget_base_dimensions = [250, 109]
  Dashing.numColumns = 4
});
</script>
<link href='http://fonts.googleapis.com/css?family=Armata' rel='stylesheet' type='text/css'>
<style>
  body, div, p, li, span {
    font-family: 'Armata', 'Century Gothic', 'Arial';
  }
</style>


<% content_for :title do %>The Salt Mines Dashboard<% end %>

<div class="gridster">
  <ul>
    <li id="clock" data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>
    <li id="radio" data-row="2" data-col="1" data-sizex="2" data-sizey="7">
      <div data-id="radio" data-view="Radio" data-title="Now Playing"</div>
      <i class="icon-music icon-background"></i>      
    </li>
    <li id="conference" data-row="2" data-col="3" data-sizex="2" data-sizey="4">
      <div data-id="conference" data-view="Calendar" data-title="Conference Room Bookings"></div>
    </li>
    <li id="events" data-row="6" data-col="3" data-sizex="2" data-sizey="4">
      <div data-id="events" data-view="Calendar" data-title="Upcoming Events"></div>
    </li>
    <li id="gyro" data-row="9" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="gyro" data-view="Number" data-title="Gyro Count" style="background-color:#96bf48;"></div>
      <i class="icon-truck icon-background"></i>
    </li>

    <li id="weather" data-row="9" data-col="2" data-sizex="1" data-sizey="2">
      <div data-id="weather" data-view="Weather"></div>
    </li>
    
    <li id="cota" data-row="10" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="COTA Updates"></div>
    </li>
    <li id="twitter" data-row="11" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li id="transit" data-row="12" data-col="1" data-sizex="4" data-sizey="3">
      <div data-id="transit" data-view="Iframe" data-url="/transit.html"></div>
    </li>
    <li id="darksky" data-row="15" data-col="1" data-sizex="4" data-sizey="2">
      <div data-id="darksky" data-view="Rickshawgraph" data-title="Dark Sky" data-displayed-value="summary" style="background-color:#47bbb3;"></div>
    </li>
<!--
    <li id="headlines" data-row="15" data-col="1" data-sizex="4" data-sizey="2">
      <div data-id="welcome" data-view="Text" data-title="Headlines" data-text="Chatter from Facebook member group" data-moreinfo="Coming soon"></div>
    </li>    
-->

  </ul>
</div>