// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #222;

.widget.widget-instagram {
  padding: 0;
  background-color: $background-color;
}
