// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #FD952F;

$title-color:     rgba(255, 255, 255, 0.7);
$moreinfo-color:  rgba(255, 255, 255, 0.7);
$artist-color:    #DDD;

// ----------------------------------------------------------------------------
// Widget-radio styles
// ----------------------------------------------------------------------------
.widget.widget-groupbuzz {

  background-color: $background-color;
  vertical-align: top;
  padding-top: 45px;

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }

  h1 {
    margin-bottom: 20px;
  }

  &.large h3 {
    font-size: 65px;
  }
  
  span { 
    padding: 0;
  }
  
  .topics {
    padding: 0 60px;
    text-align: left;

    li {
      display:block;
      margin-bottom:20px;
      color: #FFF;

      .topic { font-size: 18px; }
      
      .details {
        font-size: 14px;
        color: #efd7c2;
        // limit to one line
        width: 360px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      
      &.thisweek {
        color: #efd7c2;
      }
      
      &.earlier {
        color: #be783a;
        .details { color: #be783a; }
      }
    }

    // fade out and clip topics at bottom of widget
    overflow: hidden;
    position: relative;
    height: 440px;    // hard-coded to work for south layout
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      margin: 0; padding: 20px 0; 
      background-image: linear-gradient(to bottom, rgba($background-color, 0), $background-color);
    }
  }
  
  // class applied to north dashboard to hard-code height for north layout
  &.for_north_dashboard {
    .topics {
      height: 330px;
    }
  }
}
